h2,
p {
  text-align: center;
}

h2 a.nav-link {
  color: indigo;
  text-decoration: none;
}

h2 a.discrete-link {
  color: black;
  text-decoration: none;
}

h2 a.discrete-link:hover {
  color: rebeccapurple;
  text-decoration: none;
}

div.panel {
  position: fixed;
  top: 0;
  left: 0;
  margin: 2px;
  z-index: 1;
}

table.edt {
  margin: 0 auto 100px auto;
  background-color: aliceblue;
  text-align: center;
}

table.edt th,
table.edt td {
  border: 3px solid rgb(171, 191, 211);
  padding: 3px 5px;
  border-radius: 0.5em;
}

table.edt th.week-separator {
  border: none;
  background-color: white;
}

table.edt td.NOSLOT {
  border: none;
}

table.edt tr.header {
  height: 10px;
}

table.edt tr.day-separator {
  height: 10px;
}

table.edt tr.day-group-separator {
  height: 5px;
}

table.edt tr.hour {
  height: 40px;
}

table.container td {
  /* border: 1px solid black; */
  border: 0;
}

table.edt .Slot-CM {
  background-color: palegoldenrod;
  border-color: rgb(218, 212, 142);
}

table.edt .Slot-TD {
  background-color: skyblue;
  border-color: rgb(116, 179, 204);
}

table.edt .Slot-TP {
  background-color: pink;
  border-color: rgb(213, 149, 160);
}

table.edt .Slot-EDT {
  background-color: thistle;
  border-color: rgb(179, 150, 179);
}

table.edt .Slot-EV {
  background-color: tomato;
}

table.edt td[class|="Slot"] {
  border-radius: 1em;
  border-width: 5px;
}

table.edt td[class|="Slot"] tr:first-child {
  font-size: large;
  font-weight: bold;
}

table.edt td[class|="Slot"] tr:first-child + tr td + td {
  font-style: italic;
}

table.edt th.empty {
  border: none;
  background-color: white;
}

table.edt th {
  background-color: rgba(87, 162, 215, 0.854);
  color: #413831;
}

@media print {
  h2 a.nav-link {
    display: none;
  }
  table.edt {
    page-break-after: always;
  }
  .no-print {
    display: none;
  }
  * {
    -webkit-print-color-adjust: exact;
  }
}
